name: Build and publish to pypi and ghcr

permissions:
    contents: read
    packages: write

on:
    # publish on releases, e.g. v2.1.13 (image tagged as "2.1.13" - "v" prefix is removed)
    release:
        types: [published]

    workflow_dispatch:

    # publish on pushes to the main branch (image tagged as "latest")
    push:
        branches:
            - main

jobs:
    pypi_publish:
        runs-on: ubuntu-latest
        environment: pypi
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Install uv
              uses: astral-sh/setup-uv@v7
            - name: Install Python 3.13
              run: uv python install 3.13
            - name: Build
              run: uv build
            - name: Publish
              run: uv publish

    docker_publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push client
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./client.dockerfile
                  push: true
                  tags: ghcr.io/${{ github.repository_owner }}/psync-client:latest

            - name: Build and push server
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./client.dockerfile
                  push: true
                  tags: ghcr.io/${{ github.repository_owner }}/psync-client:latest
