name: Build and publish a Docker image to ghcr.io
on:
    # publish on releases, e.g. v2.1.13 (image tagged as "2.1.13" - "v" prefix is removed)
    release:
        types: [published]

    # publish on pushes to the main branch (image tagged as "latest")
    push:
        branches:
            - master

jobs:
    pypi_publish:
        runs-on: ubuntu-latest
        environment:
          - name: pypi
          permissions:
            id-token: write
            contents: read
          steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Install uv
              uses: astral-sh/setup-uv@v7
            - name: Install Python 3.13
              run: uv python install 3.13
            - name: Build
              run: uv build
            - name: Publish
              run: uv publish

    docker_publish:
        runs-on: "ubuntu-latest"

        steps:
            - uses: actions/checkout@v2

            # https://github.com/marketplace/actions/push-to-ghcr
            - name: Publish client to ghcr
              uses: macbre/push-to-ghcr@master
              with:
                  image_name: ${{ github.user }}/psync-client
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  dockerfile: ./client.dockerfile

            - name: Publish server to ghcr
              uses: macbre/push-to-ghcr@master
              with:
                  image_name: ${{ github.user }}/psync-server
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  dockerfile: ./server.dockerfile
