name: Run tests

on:
    # publish on pushes to the main branch (image tagged as "latest")
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Install Python 3.13
              run: uv python install 3.13

            - name: Build
              run: uv build

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - name: Build server
              run: docker build . -t psync-server:latest -f ./docker/server/Dockerfile

            - name: Run tests
              run: uv run pytest
